<header>
    <nav>
        <h1><a href="/">Mylibrary</a></h1>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>